#newRecipeForm {
  padding-top: 5vh;
}
#recipeNameLabel {
  display: flex;
  justify-content: center;
}

#ingredientInputContainer {
  padding-top: 20px;
}

.listItem:hover {
  background-color: #F5a6a8;
  cursor: pointer;
}

Row {
  justify-content: center;
}
